@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Hind%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-nYAdO8LTtyaw_font-family: "Inter", sans-serif;
  --mixin-nYAdO8LTtyaw_font-size: 16px;
  --mixin-nYAdO8LTtyaw_font-weight: 400;
  --mixin-nYAdO8LTtyaw_font-style: normal;
  --mixin-nYAdO8LTtyaw_color: #535353;
  --mixin-nYAdO8LTtyaw_text-align: left;
  --mixin-nYAdO8LTtyaw_text-transform: none;
  --mixin-nYAdO8LTtyaw_line-height: 1.5;
  --mixin-nYAdO8LTtyaw_letter-spacing: normal;
  --mixin-nYAdO8LTtyaw_white-space: pre-wrap;
  --mixin-nYAdO8LTtyaw_user-select: text;
  --mixin-nYAdO8LTtyaw_text-decoration-line: none;
  --mixin-nYAdO8LTtyaw_text-overflow: clip;
  --mixin-3oh0y5CC07jO_color: #000000;
  --mixin-3oh0y5CC07jO_font-weight: 700;
  --mixin-3oh0y5CC07jO_font-size: 64px;
  --mixin-3oh0y5CC07jO_line-height: 1;
  --mixin-3oh0y5CC07jO_letter-spacing: -1px;
  --mixin-3oh0y5CC07jO_white-space: pre-wrap;
  --mixin-EF7xYe0UKpay_color: #000000;
  --mixin-EF7xYe0UKpay_font-size: 48px;
  --mixin-EF7xYe0UKpay_font-weight: 700;
  --mixin-EF7xYe0UKpay_letter-spacing: -0.5px;
  --mixin-EF7xYe0UKpay_line-height: 1.1;
  --mixin-EF7xYe0UKpay_white-space: pre-wrap;
  --mixin-wNZOZgrGaJXB_color: #0070f3;
  --mixin-wNZOZgrGaJXB_white-space: pre-wrap;
  --mixin-nHxMnKRCA8rv_color: #000000;
  --mixin-nHxMnKRCA8rv_font-size: 32px;
  --mixin-nHxMnKRCA8rv_font-weight: 600;
  --mixin-nHxMnKRCA8rv_line-height: 1.2;
  --mixin-nHxMnKRCA8rv_white-space: pre-wrap;
  --mixin-pL5Y4WfhotwA_color: #000000;
  --mixin-pL5Y4WfhotwA_font-size: 24px;
  --mixin-pL5Y4WfhotwA_font-weight: 600;
  --mixin-pL5Y4WfhotwA_line-height: 1.3;
  --mixin-pL5Y4WfhotwA_white-space: pre-wrap;
  --mixin-WVqBBexf5kIU_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WVqBBexf5kIU_border-bottom-color: #dddddd;
  --mixin-WVqBBexf5kIU_border-bottom-style: solid;
  --mixin-WVqBBexf5kIU_border-bottom-width: 1px;
  --mixin-WVqBBexf5kIU_border-left-color: #dddddd;
  --mixin-WVqBBexf5kIU_border-left-style: solid;
  --mixin-WVqBBexf5kIU_border-left-width: 1px;
  --mixin-WVqBBexf5kIU_border-right-color: #dddddd;
  --mixin-WVqBBexf5kIU_border-right-style: solid;
  --mixin-WVqBBexf5kIU_border-right-width: 1px;
  --mixin-WVqBBexf5kIU_border-top-color: #dddddd;
  --mixin-WVqBBexf5kIU_border-top-style: solid;
  --mixin-WVqBBexf5kIU_border-top-width: 1px;
  --mixin-WVqBBexf5kIU_border-bottom-left-radius: 3px;
  --mixin-WVqBBexf5kIU_border-bottom-right-radius: 3px;
  --mixin-WVqBBexf5kIU_border-top-left-radius: 3px;
  --mixin-WVqBBexf5kIU_border-top-right-radius: 3px;
  --mixin-WVqBBexf5kIU_font-family: "Inconsolata";
  --mixin-WVqBBexf5kIU_padding-bottom: 1px;
  --mixin-WVqBBexf5kIU_padding-left: 4px;
  --mixin-WVqBBexf5kIU_padding-right: 4px;
  --mixin-WVqBBexf5kIU_padding-top: 1px;
  --mixin-WVqBBexf5kIU_white-space: pre-wrap;
  --mixin-3OBjEHfVdvDX_border-left-color: #dddddd;
  --mixin-3OBjEHfVdvDX_border-left-style: solid;
  --mixin-3OBjEHfVdvDX_border-left-width: 3px;
  --mixin-3OBjEHfVdvDX_color: #888888;
  --mixin-3OBjEHfVdvDX_padding-left: 10px;
  --mixin-3OBjEHfVdvDX_white-space: pre-wrap;
  --mixin-wr61zkcA8Oof_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-wr61zkcA8Oof_border-bottom-color: #dddddd;
  --mixin-wr61zkcA8Oof_border-bottom-style: solid;
  --mixin-wr61zkcA8Oof_border-bottom-width: 1px;
  --mixin-wr61zkcA8Oof_border-left-color: #dddddd;
  --mixin-wr61zkcA8Oof_border-left-style: solid;
  --mixin-wr61zkcA8Oof_border-left-width: 1px;
  --mixin-wr61zkcA8Oof_border-right-color: #dddddd;
  --mixin-wr61zkcA8Oof_border-right-style: solid;
  --mixin-wr61zkcA8Oof_border-right-width: 1px;
  --mixin-wr61zkcA8Oof_border-top-color: #dddddd;
  --mixin-wr61zkcA8Oof_border-top-style: solid;
  --mixin-wr61zkcA8Oof_border-top-width: 1px;
  --mixin-wr61zkcA8Oof_border-bottom-left-radius: 3px;
  --mixin-wr61zkcA8Oof_border-bottom-right-radius: 3px;
  --mixin-wr61zkcA8Oof_border-top-left-radius: 3px;
  --mixin-wr61zkcA8Oof_border-top-right-radius: 3px;
  --mixin-wr61zkcA8Oof_font-family: "Inconsolata";
  --mixin-wr61zkcA8Oof_padding-bottom: 3px;
  --mixin-wr61zkcA8Oof_padding-left: 6px;
  --mixin-wr61zkcA8Oof_padding-right: 6px;
  --mixin-wr61zkcA8Oof_padding-top: 3px;
  --mixin-wr61zkcA8Oof_white-space: pre-wrap;
  --mixin-tnhjn-oX1tw8_display: flex;
  --mixin-tnhjn-oX1tw8_flex-direction: column;
  --mixin-tnhjn-oX1tw8_align-items: stretch;
  --mixin-tnhjn-oX1tw8_justify-content: flex-start;
  --mixin-tnhjn-oX1tw8_list-style-position: outside;
  --mixin-tnhjn-oX1tw8_padding-left: 40px;
  --mixin-tnhjn-oX1tw8_position: relative;
  --mixin-tnhjn-oX1tw8_list-style-type: disc;
  --mixin-tnhjn-oX1tw8_white-space: pre-wrap;
  --mixin-SXlV8_cFSZ5h_display: flex;
  --mixin-SXlV8_cFSZ5h_flex-direction: column;
  --mixin-SXlV8_cFSZ5h_align-items: stretch;
  --mixin-SXlV8_cFSZ5h_justify-content: flex-start;
  --mixin-SXlV8_cFSZ5h_list-style-position: outside;
  --mixin-SXlV8_cFSZ5h_padding-left: 40px;
  --mixin-SXlV8_cFSZ5h_position: relative;
  --mixin-SXlV8_cFSZ5h_list-style-type: decimal;
  --mixin-SXlV8_cFSZ5h_white-space: pre-wrap;
  --mixin-Zj7M1pla7IjC_color: #000000;
  --mixin-Zj7M1pla7IjC_font-size: 20px;
  --mixin-Zj7M1pla7IjC_font-weight: 600;
  --mixin-Zj7M1pla7IjC_line-height: 1.5;
  --mixin-Zj7M1pla7IjC_white-space: pre-wrap;
  --mixin-3sown_FxH-hc_color: #000000;
  --mixin-3sown_FxH-hc_font-size: 16px;
  --mixin-3sown_FxH-hc_font-weight: 600;
  --mixin-3sown_FxH-hc_line-height: 1.5;
  --mixin-3sown_FxH-hc_white-space: pre-wrap;
  --mixin-WIUMoAWNT-8D_color: #3291ff;
  --mixin-WIUMoAWNT-8D_white-space: pre-wrap;
  --mixin-lJqFhgwAOqlk_white-space: pre-wrap;
  --mixin-ejY1NPbwrIE9_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-nYAdO8LTtyaw_font-family);
  font-size: var(--mixin-nYAdO8LTtyaw_font-size);
  font-weight: var(--mixin-nYAdO8LTtyaw_font-weight);
  font-style: var(--mixin-nYAdO8LTtyaw_font-style);
  color: var(--mixin-nYAdO8LTtyaw_color);
  text-align: var(--mixin-nYAdO8LTtyaw_text-align);
  text-transform: var(--mixin-nYAdO8LTtyaw_text-transform);
  line-height: var(--mixin-nYAdO8LTtyaw_line-height);
  letter-spacing: var(--mixin-nYAdO8LTtyaw_letter-spacing);
  white-space: var(--mixin-nYAdO8LTtyaw_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-3oh0y5CC07jO_color);
  font-weight: var(--mixin-3oh0y5CC07jO_font-weight);
  font-size: var(--mixin-3oh0y5CC07jO_font-size);
  line-height: var(--mixin-3oh0y5CC07jO_line-height);
  letter-spacing: var(--mixin-3oh0y5CC07jO_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-EF7xYe0UKpay_color);
  font-size: var(--mixin-EF7xYe0UKpay_font-size);
  font-weight: var(--mixin-EF7xYe0UKpay_font-weight);
  letter-spacing: var(--mixin-EF7xYe0UKpay_letter-spacing);
  line-height: var(--mixin-EF7xYe0UKpay_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-wNZOZgrGaJXB_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-nHxMnKRCA8rv_color);
  font-size: var(--mixin-nHxMnKRCA8rv_font-size);
  font-weight: var(--mixin-nHxMnKRCA8rv_font-weight);
  line-height: var(--mixin-nHxMnKRCA8rv_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-pL5Y4WfhotwA_color);
  font-size: var(--mixin-pL5Y4WfhotwA_font-size);
  font-weight: var(--mixin-pL5Y4WfhotwA_font-weight);
  line-height: var(--mixin-pL5Y4WfhotwA_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-WVqBBexf5kIU_font-family);
  border-radius: var(--mixin-WVqBBexf5kIU_border-top-left-radius)
    var(--mixin-WVqBBexf5kIU_border-top-right-radius)
    var(--mixin-WVqBBexf5kIU_border-bottom-right-radius)
    var(--mixin-WVqBBexf5kIU_border-bottom-left-radius);
  padding: var(--mixin-WVqBBexf5kIU_padding-top)
    var(--mixin-WVqBBexf5kIU_padding-right)
    var(--mixin-WVqBBexf5kIU_padding-bottom)
    var(--mixin-WVqBBexf5kIU_padding-left);
  border-top: var(--mixin-WVqBBexf5kIU_border-top-width)
    var(--mixin-WVqBBexf5kIU_border-top-style)
    var(--mixin-WVqBBexf5kIU_border-top-color);
  border-right: var(--mixin-WVqBBexf5kIU_border-right-width)
    var(--mixin-WVqBBexf5kIU_border-right-style)
    var(--mixin-WVqBBexf5kIU_border-right-color);
  border-bottom: var(--mixin-WVqBBexf5kIU_border-bottom-width)
    var(--mixin-WVqBBexf5kIU_border-bottom-style)
    var(--mixin-WVqBBexf5kIU_border-bottom-color);
  border-left: var(--mixin-WVqBBexf5kIU_border-left-width)
    var(--mixin-WVqBBexf5kIU_border-left-style)
    var(--mixin-WVqBBexf5kIU_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-3OBjEHfVdvDX_color);
  padding-left: var(--mixin-3OBjEHfVdvDX_padding-left);
  border-left: var(--mixin-3OBjEHfVdvDX_border-left-width)
    var(--mixin-3OBjEHfVdvDX_border-left-style)
    var(--mixin-3OBjEHfVdvDX_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-wr61zkcA8Oof_font-family);
  border-radius: var(--mixin-wr61zkcA8Oof_border-top-left-radius)
    var(--mixin-wr61zkcA8Oof_border-top-right-radius)
    var(--mixin-wr61zkcA8Oof_border-bottom-right-radius)
    var(--mixin-wr61zkcA8Oof_border-bottom-left-radius);
  padding: var(--mixin-wr61zkcA8Oof_padding-top)
    var(--mixin-wr61zkcA8Oof_padding-right)
    var(--mixin-wr61zkcA8Oof_padding-bottom)
    var(--mixin-wr61zkcA8Oof_padding-left);
  border-top: var(--mixin-wr61zkcA8Oof_border-top-width)
    var(--mixin-wr61zkcA8Oof_border-top-style)
    var(--mixin-wr61zkcA8Oof_border-top-color);
  border-right: var(--mixin-wr61zkcA8Oof_border-right-width)
    var(--mixin-wr61zkcA8Oof_border-right-style)
    var(--mixin-wr61zkcA8Oof_border-right-color);
  border-bottom: var(--mixin-wr61zkcA8Oof_border-bottom-width)
    var(--mixin-wr61zkcA8Oof_border-bottom-style)
    var(--mixin-wr61zkcA8Oof_border-bottom-color);
  border-left: var(--mixin-wr61zkcA8Oof_border-left-width)
    var(--mixin-wr61zkcA8Oof_border-left-style)
    var(--mixin-wr61zkcA8Oof_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-tnhjn-oX1tw8_display);
  flex-direction: var(--mixin-tnhjn-oX1tw8_flex-direction);
  align-items: var(--mixin-tnhjn-oX1tw8_align-items);
  justify-content: var(--mixin-tnhjn-oX1tw8_justify-content);
  list-style-position: var(--mixin-tnhjn-oX1tw8_list-style-position);
  padding-left: var(--mixin-tnhjn-oX1tw8_padding-left);
  position: var(--mixin-tnhjn-oX1tw8_position);
  list-style-type: var(--mixin-tnhjn-oX1tw8_list-style-type);
  flex-column-gap: var(--mixin-tnhjn-oX1tw8_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-SXlV8_cFSZ5h_display);
  flex-direction: var(--mixin-SXlV8_cFSZ5h_flex-direction);
  align-items: var(--mixin-SXlV8_cFSZ5h_align-items);
  justify-content: var(--mixin-SXlV8_cFSZ5h_justify-content);
  list-style-position: var(--mixin-SXlV8_cFSZ5h_list-style-position);
  padding-left: var(--mixin-SXlV8_cFSZ5h_padding-left);
  position: var(--mixin-SXlV8_cFSZ5h_position);
  list-style-type: var(--mixin-SXlV8_cFSZ5h_list-style-type);
  flex-column-gap: var(--mixin-SXlV8_cFSZ5h_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Zj7M1pla7IjC_color);
  font-size: var(--mixin-Zj7M1pla7IjC_font-size);
  font-weight: var(--mixin-Zj7M1pla7IjC_font-weight);
  line-height: var(--mixin-Zj7M1pla7IjC_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-3sown_FxH-hc_color);
  font-size: var(--mixin-3sown_FxH-hc_font-size);
  font-weight: var(--mixin-3sown_FxH-hc_font-weight);
  line-height: var(--mixin-3sown_FxH-hc_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-WIUMoAWNT-8D_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
